/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* font-family: 'Mulish', sans-serif; */
/* Fonts */
:root {
    --mulish-font: 'Mulish', sans-serif;
    --bg-color: #1C1C1C;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #8C8C8C;
    --green-color: #6BDD1D;
}

/* Reset CSSS */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none !important;
    outline: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--mulish-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.4;
    background-color: var(--bg-color);
}

body,
html {
    overflow-x: hidden;
}
/* body,html{
    width: 100%;
} */
b,
strong {
    font-weight: 700;
}

p {
    margin: 0 0 20px 0;
}

p:last-child {
    margin-bottom: 0;
}

h1,
.hOne,
h2,
.hTwo,
h3,
.hThree,
h4,
.hFour,
h5,
.hFive,
h6,
.hSix {
    margin: 0 0 25px 0;
    padding: 0;
    color: #000;
    font-weight: 700;
    line-height: 1.2;
}

h1:last-child,
.hOne:last-child,
h2:last-child,
.hTwo:last-child,
h3:last-child,
.hThree:last-child,
h4:last-child,
.hFour:last-child,
h5:last-child,
.hFive:last-child,
h6:last-child,
.hSix:last-child {
    margin-bottom: 0;
}

h1,
.hOne {
    font-size: 141px;
    font-weight: 900;
}

h2,
.hTwo {
    font-size: 49px;
    font-weight: 400;
}

h3,
.hThree {
    font-size: 50px;
}

h4,
.hFour {
    font-size: 24px;
    ;

}

h5,
.hFive {
    font-size: 20px;

}

h6,
.hSix {
    font-size: 16px;
    margin-bottom: 10px;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    outline: none !important;
    color: var(--green-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--white-color);
}

img,
figure {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
.form-control,
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 16px;
    appearance: none;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    height: 48px;
    background-color: transparent;
    font-size: 16px;
    line-height: 46px;
    color: #000;
    font-family: var(--roboto-font);
    font-weight: 300;
    width: 100%;
    background-clip: padding-box;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.form-control:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    color: #000;
}

textarea,
textarea.form-control {
    background-color: transparent;
    font-size: 16px;
    color: #000;
    font-family: var(--roboto-font);
    font-weight: 300;
    background-clip: padding-box;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #bfbfbf;
    padding: 0 16px;
    width: 100%;
    color: #000;
    height: 158px;
    line-height: 1.2;
    outline: none !important;
    resize: none;
    padding-top: 18px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

textarea:focus,
textarea.form-control:focus {
    border-color: #000;
}

select {
    border: 1px solid #bfbfbf;
    width: 100%;
    padding: 0 11px;
    background: url(images/sort-down.svg) no-repeat calc(100% - 16px) center transparent;
    background-size: 18px;
    padding-right: 40px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select:focus {
    border-color: #000;
}

select::-ms-expand {
    display: none;
}

input[type="submit"] {
    background: #eab71e;
    color: #000000;
    height: 58px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    outline: none !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background: #000;
    color: #eab71e;
}

::-webkit-input-placeholder {
    opacity: 0.7;
    color: #000;
}

:-ms-input-placeholder {
    opacity: 0.7;
    color: #000;
}

::-moz-placeholder {
    opacity: 0.7;
    color: #000;
}

:-moz-placeholder {
    opacity: 0.7;
    color: #000;
}

/* images alignment for wordpress content pages */
.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    float: none;
    clear: both;
}

/* custom checkbox */

.form_input_check label {
    position: relative;
    margin: 0;
    padding-left: 40px;
    display: inline-block;
}

.form_input_check label span {
    margin: 0;
    padding: 0;
}

.form_input_check label input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.form_input_check label input[type="checkbox"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    border: 1px solid #3E3E42;
    background: transparent;
}

.form_input_check label input[type="checkbox"]+span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url(images/tick.svg) no-repeat center center;
    background-size: 15px;
}

.form_input_check label input[type="checkbox"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

/* .form_input_check input[type="checkbox"]:checked + span::before {
      
    } */

.form_input_check label input[type="checkbox"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* custom radio */

.form_input_radio label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    display: inline-block;
}

.form_input_radio label span {
    margin: 0;
    padding: 0;
}

.form_input_radio label input[type="radio"] {
    visibility: hidden;
    display: none;
}

.form_input_radio label input[type="radio"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    border: 2px solid #000000;
    border-radius: 100%;
    background: #fff;
}

.form_input_radio label input[type="radio"]+span::after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4b0049;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form_input_radio label input[type="radio"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

/* .form_input_radio input[type="radio"]:checked + span::before {
      
    } */

.form_input_radio label input[type="radio"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* custom radio end */

/* back to top */

#scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    background-color: var(--green-color);
    border-radius: 100%;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

#scroll:hover {
    background: var(--green-color);
}

#scroll em {
    font-style: normal;
    color: #fff;
    font-size: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#scroll:hover em {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

/* Custom CSS */

/* Header Section */
/* navbar*/
.main-head {
    position: relative;
    z-index: 99;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    width: 81px;
    min-width: 81px;
    display: inline-block;
}

.navbar {
    background: none;
    margin: 0;
    padding: 0;
    min-height: inherit;
    height: inherit;
    border: none;
    border-radius: 0;
}

.navbar-nav li {
    position: relative;
    list-style: none;
}

.navbar-nav>li {
    margin: 0 13px;
    padding: 10px 0;
    position: relative;
}

.navbar-nav>li:last-child {
    margin-right: 0;
}

.navbar-nav>li:first-child {
    margin-left: 0;
}

.navbar-nav>li>a {
    color: var(--white-color);
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    font-weight: 700;
}

/* .navbar-nav>li>a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3B61DC;
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */

.navbar-nav>li.current-menu-item>a,
.navbar-nav>li>a:hover,
.navbar-nav>li.menu-item-has-children:hover>a {
    color: var(--green-color);
}

.navbar-nav>li.current-menu-item>a:after,
.navbar-nav>li>a:hover:after,
.navbar-nav>li.menu-item-has-children:hover>a:after {
    width: 100%;
}

/* navbar submenu*/
.sub-menu {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    width: 140px;
    padding: 0;
}

.sub-menu>li>a {
    color: #000;
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.sub-menu>li {
    width: 100%;
    display: block;
}

.sub-menu>li>a:hover,
.sub-menu>li.menu-item-has-children:hover>a,
.sub-menu>li.current-menu-item>a {
    background: #eab71e;
    color: #fff;
}

.navbar-nav>li:last-child>.sub-menu {
    right: 0;
    left: inherit;
    padding: 0;
}

/* 2nd level submenu */
.navbar-nav>li>.sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
}

/* for push-menu */
.navbar-collapse .navbar-toggler {
    display: none;
}

#navoverlay {
    display: block;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    padding: 0 !important;
    z-index: 99;
    -webkit-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

/* for push-menu end*/
.main-head {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.nav_rght_hdr>ul {
    display: flex;
    align-items: center;
    background: linear-gradient(282deg, #6BDD1D -423.25%, rgba(107, 221, 29, 0.00) 128.96%);
    border: 1px solid rgba(107, 221, 29, 0.25);
    box-shadow: 0px 17px 28.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.nav_rght_hdr>ul>li {
    position: relative;
}

.nav_rght_hdr>ul>li:not(:last-child):after {
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    background: rgba(255, 255, 255, 0.23);
    top: 15px;
    bottom: 15px;
}

.hdr_bttn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 15px 23px;
}

.bnnr_section {
    position: relative;
    z-index: 1;
    min-height: 946px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;
    padding: 210px 0 80px;
}

.bnnr_ovrly {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    bottom: 0;
    /* background: var(--bg-color); */
}
.bnnr_ovrly img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bnnr_img_box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background: var(--bg-color);
    /* background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 30.33%, rgba(217, 217, 217, 0.30) 46.87%, #D9D9D9 66.94%, rgba(217, 217, 217, 0.00) 102.7%); */


}

.bnnr_img_box img {
    /* mix-blend-mode: difference; */
    /* opacity: 0.5; */
    object-fit: cover;
    width: 100%;
    height: 115%;
    object-position: bottom center;
}

.main-head {
    padding: 15px 0;
}

.nav_rght_hdr {
    margin-left: 30px;
}

.bnnr_txtBox h1,
.bnnr_txtBox .hOne {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.15);
    margin-bottom: 0;
}

.bnnr_txtBox h2,h2 .char_wrrpr .char {
    color: transparent;
    background: linear-gradient(133deg, #FFF 47.8%, #6BDD1D 95.85%);
    -webkit-background-clip: text;
    /* text-align: center; */
    position: relative;
    z-index: 1;
    padding-left: 77px;
}
.char_wrrpr2 .char, h2 .char_wrrpr .char{
    padding: 0;
}
.wlcme_txt.hOne {
    display: block;
    color: transparent;
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.13);
    text-stroke: 1px rgba(255, 255, 255, 0.13);
    text-align: right;
    margin-right: -8vw;
    padding: 10px 0 20px;
    text-transform: uppercase;
}

.bnnr_persn_img {
    position: absolute;
    left: 56%;
    bottom: 36px;
    transform: translateX(-50%);
    max-width: 844px;
    width: 100%;
}

.curse_mngmnt_box {
    padding: 60px;
    background: var(--black-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(96, 207, 16, 0.06) 2%, rgba(96, 207, 16, 0.06) 3%, rgba(105, 225, 30, 0.06) 4%, rgba(105, 225, 15, 0.06) 5%, rgba(113, 227, 28, 0.06) 6%, rgba(107, 215, 27, 0.06) 7%, rgba(115, 229, 38, 0.06) 8%, rgba(102, 217, 13, 0.06) 9%, rgba(109, 219, 24, 0.06) 10%, rgba(104, 220, 23, 0.07) 12%, rgba(100, 222, 22, 0.07) 13%, rgba(106, 223, 32, 0.07) 14%, rgba(112, 224, 31, 0.07) 15%, rgba(112, 224, 31, 0.07) 16%, rgba(108, 226, 29, 0.07) 17%, rgba(108, 226, 29, 0.07) 18%, rgba(104, 217, 19, 0.07) 19%, rgba(104, 227, 19, 0.07) 20%, rgba(105, 220, 26, 0.07) 21%, rgba(110, 221, 25, 0.08) 23%, rgba(107, 222, 25, 0.08) 24%, rgba(104, 215, 24, 0.08) 25%, rgba(108, 216, 31, 0.08) 26%, rgba(108, 224, 31, 0.08) 27%, rgba(105, 217, 30, 0.08) 28%, rgba(105, 225, 30, 0.08) 29%, rgba(102, 219, 29, 0.08) 30%, rgba(102, 219, 22, 0.08) 31%, rgba(113, 227, 28, 0.08) 32%, rgba(110, 221, 28, 0.08) 33%, rgba(111, 222, 33, 0.09) 35%, rgba(108, 217, 32, 0.09) 36%, rgba(102, 217, 25, 0.09) 37%, rgba(108, 223, 25, 0.09) 38%, rgba(106, 224, 31, 0.1) 39%, rgba(109, 225, 30, 0.1) 40%, rgba(103, 225, 30, 0.11) 41%, rgba(104, 220, 29, 0.11) 42%, rgba(104, 220, 29, 0.12) 43%, rgba(108, 221, 28, 0.12) 44%, rgba(105, 216, 28, 0.13) 45%, rgba(105, 222, 28, 0.13) 46%, rgba(108, 222, 27, 0.14) 47%, rgba(103, 217, 27, 0.14) 48%, rgba(104, 219, 26, 0.15) 49%, rgba(104, 219, 26, 0.15) 50%, rgba(104, 224, 26, 0.16) 51%, rgba(107, 219, 25, 0.16) 52%, rgba(105, 220, 25, 0.17) 53%, rgba(108, 221, 29, 0.17) 54%, rgba(108, 221, 29, 0.18) 55%, rgba(111, 221, 29, 0.18) 56%, rgba(104, 217, 28, 0.19) 57%, rgba(109, 222, 28, 0.19) 58%, rgba(107, 223, 28, 0.2) 59%, rgba(105, 223, 27, 0.2) 60%, rgba(107, 224, 31, 0.21) 61%, rgba(103, 219, 27, 0.21) 62%, rgba(105, 220, 26, 0.22) 63%, rgba(108, 220, 30, 0.22) 64%, rgba(110, 221, 30, 0.23) 65%, rgba(106, 221, 30, 0.23) 66%, rgba(109, 222, 29, 0.24) 67%, rgba(107, 218, 29, 0.24) 68%, rgba(107, 218, 25, 0.25) 69%, rgba(105, 219, 28, 0.25) 70%, rgba(104, 219, 28, 0.25) 71%, rgba(104, 219, 28, 0.25) 72%, rgba(106, 220, 27, 0.25) 73%, rgba(108, 220, 31, 0.25) 74%, rgba(108, 224, 31, 0.25) 75%, rgba(107, 221, 27, 0.25) 76%, rgba(109, 221, 30, 0.26) 77%, rgba(109, 225, 30, 0.26) 78%, rgba(107, 222, 30, 0.26) 79%, rgba(106, 219, 25, 0.26) 80%, rgba(108, 219, 29, 0.26) 81%, rgba(108, 223, 29, 0.26) 82%, rgba(108, 220, 31, 0.26) 83%, rgba(105, 220, 28, 0.26) 84%, rgba(107, 221, 31, 0.27) 85%, rgba(107, 221, 28, 0.27) 86%, rgba(107, 221, 28, 0.28) 87%, rgba(107, 221, 30, 0.28) 88%, rgba(107, 221, 30, 0.29) 89%, rgba(106, 219, 30, 0.29) 90%, rgba(106, 222, 26, 0.3) 91%, rgba(105, 219, 26, 0.3) 92%, rgba(108, 220, 29, 0.31) 93%, rgba(105, 220, 29, 0.31) 94%, rgba(105, 220, 29, 0.32) 95%, rgba(106, 221, 31, 0.32) 96%, rgba(107, 223, 28, 0.23) 97%, rgba(106, 227, 28, 0.14) 98%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
    text-align: center;
    color: #AAAAAA;
    margin-top: -37px;
    border-radius: 60px 60px 10px 10px;
}

.curse_mngmnt_box::before {
    position: absolute;
    content: "";
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 10px;
    background: var(--black-color);
    border-radius: 60px 60px 10px 10px;
    z-index: -1;
}

.shape1 {
    position: absolute;
    right: -2%;
    bottom: -80%;
    z-index: -1;
    filter: blur(157px);
    opacity: 0.12;
}

.pge_hdng h2 {
    color: var(--white-color);
}
.pge_hdng{
    margin-bottom: 15px;
}
.top_txt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--green-color);
    font-weight: 700;
    padding: 8px 33px;
    border-radius: 50px;
    background: rgba(107, 221, 27, 0.23);
    line-height: 1;
    margin-bottom: 11px;
}

.curse_mngmnt_box p {
    max-width: 693px;
    margin-left: auto;
    margin-right: auto;
}

.bttn_lstng {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bttn_lstng>li:not(:last-child) {
    margin-right: 15px;
}

.bttn_lstng .hdr_bttn {
    /* border: 1px solid rgba(107, 221, 29, 0.25);
    background: linear-gradient(282deg, #6BDD1D -423.25%, rgba(107, 221, 29, 0.00) 128.96%);
    box-shadow: 0px 17px 28.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px; */
    min-width: 164px;
    /* background-size: 100% 100%; */
    position: relative;
}
.bttn_lstng .hdr_bttn::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid rgba(107, 221, 29, 0.25);
    /* background: linear-gradient(282deg, #6BDD1D -423.25%, rgba(107, 221, 29, 0.00) 128.96%); */
    background: linear-gradient(282deg, #6BDD1D -423.25%, rgba(107, 221, 29, 0.00) 128.96%);
    box-shadow: 0px 17px 28.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.bttn_lstng .hdr_bttn:hover::before{
    background: linear-gradient(90deg, #6BDD1D -423.25%, rgba(107, 221, 29, 0.00) 128.96%);
}
.curse_mngmnt_section{
    position: relative;
    z-index: 1;
}
.shpe2{
    position: absolute;
    left: 0;
    top: -80px;
    filter: blur(90px);
    opacity: 0.12;
    z-index: -1;
    width: 423px;
}
.cmn_gap{
    padding: 50px 0;
}
.dpth_insght_section {
    position: relative;
    z-index: 1;
}
.dpth_img_box{
    max-width: 520px;
    margin-left: -52px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.crcle1{
    position: absolute;
    left: 53%;
    top: 47%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.dpth_img_hldr{
    position: relative;
    padding-left: 25%;
}
.mobile2{
    position: absolute;
    left: 0;
    bottom: 30px;
}
.insght_txtBox{
    padding-left: 30px;
}
.indvdl_insght_box{
    padding: 32px 67px 30px 32px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
.indvdl_box_hldr:not(:last-child){
    padding-bottom: 16px;
}
.insght_txtBox_outr{
    padding-top: 20px;
}
.indvdl_box_hldr{
    position: relative;
}
.indvdl_insght_box h3{
    color: var(--green-color);
}
.dot_crcle{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: var(--green-color);
    border-radius: 100%;
    /* transition: all 0.3s ease-in-out; */
}
.drw_lne{
    position: absolute;
    left: -24px;
    top: 49%;
    bottom: 0;
    width: 1px;
    border-left: 1px dashed var(--green-color);
    height: 100%;
    opacity: 0.47;
    transition: all 0.3s ease-in-out;
}
.indvdl_box_hldr:last-child .drw_lne{
    display: none;
}
.shape3{
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    filter: blur(90px);
    opacity: 0.12;
    z-index: -1;
    width: 594px;
}
.wlcme_txt.wlcme_txt_vert{
    margin: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    line-height: 0.8;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(-1);
    left: -25px;
    z-index: -1;
}
.legue_compTxt_box{
    text-align: left;
}
.shape4{
    position: absolute;
    left: 23px;
    top: 2px;
    opacity: 0.2;
    z-index: -1;
}
.shape5{
    position: absolute;
    bottom: 0;
    right: 22px;
    z-index: -1;
}
.lgueComp_sldr .swiper-slide{
    padding-bottom: 42px;
}
.lgueComp_sldr .swiper-pagination{
    position: relative;
    margin-top: -15px;
    line-height: 0;
    transform: none;
    left: inherit;
    right: inherit;
    z-index: 4;
}
.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.6;
    margin: 0 1.5px!important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 19px;
    border-radius: 50px;
    opacity: 1;
}
.lgueComp_sldr_outr {
    margin-bottom: -30px;
    margin-right: -100px;
}
.mob_screenBox{
    position: relative;
    max-width: 206px;
    z-index: 1;
    margin: 0 auto;
}
.mob_screenBox::before{
    position: absolute;
    content: "";
    left: -30px;
    top: 50px;
    bottom: -12px;
    width: 100%;
    background: rgba(0, 0, 0, 0.53);
    filter: blur(15px);
    border-radius: 10px;
    z-index: -1;
}
.legue_compTxt_box{
    max-width: 470px;
}
.lgueComp_lftCol{
    align-self: center;
}
.lgue_mob_screenBox{
    max-width: 278px;
    margin: 0 auto;
}
.lgue_sldr .swiper-pagination{
    position: relative;
    transform: none;
    left: inherit;
    top: inherit;
    margin-top: 28px;
}
.legue_sldr_box{
    position: relative;
    z-index: 1;
    padding-top: 50px;
}
.legue_sldr_box::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    border-radius: 10px;
    background: linear-gradient(180deg, #6BDD1D 0%, rgba(107, 221, 29, 0.25) 47.42%, rgba(107, 221, 29, 0.00) 100%);
}
.crte_lgue_rghtCol{
    padding-left: 75px;
    align-self: center;
}
.lgue_txt_box{
    max-width: 452px;
    position: relative;
}
.legue_compttn_section{
    position: relative;
    z-index: 1;
}
.bg_shape1{
    position: absolute;
    bottom: -100%;
    right: 0;
    opacity: 0.2;
    filter: blur(82px);
    z-index: -1;
}
.lgue_sldr .swiper-slide-prev,.lgue_sldr .swiper-slide-next{
    opacity: 0.3;
}
.crte_cmpttn_rghtCol{
    align-self: center;
}
/* .cmpttn_sldr{
    max-width: 385px;
}
.cmpttn_sldr .swiper-wrapper .swiper-slide{
    width: 278px!important;
} */
/* .cmpttn_sldr_box .cmpttn_sldr .swiper-slide {
    width: 100%!important;
    max-width: 278px;
} */
.cmpttn_sldr .swiper-slide-prev,.cmpttn_sldr .swiper-slide-next{
    opacity: 0.51;
}
.crte_lgue_section{
    position: relative;
    z-index: 2;
}
.crte_cmptn_section{
    position: relative;
    z-index: 1;
}
.bg_shape2{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(30%);
    opacity: 0.2;
    z-index: -1;
    filter: blur(82px);
}
.all_section_wrppr{
    overflow: hidden;
}
.shadow_bg_txt h2 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.03);
    margin-bottom: 0;
    font-weight: 900;
    font-size: 130px;
    position: absolute;
    top: -60px;
    line-height: 1;
    left: -10.4vw;
    letter-spacing: 0.04em;
}
/* .cmpttn_sldr .lgue_mob_screenBox{
    margin-right: 0;
} */
.cmpttn_sldr .swiper-pagination{
    position: static;
    margin-top: 30px;
}
.wht_sysBox{
    padding: 80px 65px 40px 35px;
    border-radius: 60px 60px 10px 10px;
}
.clbrty_rghtCol{
    align-self: flex-end;
}
.clbrty_txt_box{
    text-align: left;
}
.clbrty_sldr .swiper-pagination{
    position: static;
    margin-top: 25px;
}
.clbrty_row{
    position: relative;
    z-index: 1;
    padding-left: 30px;
    overflow: hidden;
}
.clbrty_txt_box::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(173deg, #6BDD1D -28.72%, rgba(107, 221, 29, 0) 162.79%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px;
    width: 100vw;
    max-width: 1040px 
}
.clbrty_txt_box{
    padding: 40px 60px 50px 65px;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}
.sys_hdng{
    width: 58.33333333%;
    text-align: left;
    margin-left: auto;
    margin-bottom: -170px;
    position: relative;
    z-index: 2;
    padding-left: 63px;
}
.sys_hdng h2{
    font-size: 76px;
    color: var(--white-color);
}
/* .clbrty_lftCol{
    position: absolute;
    left: 0;
    bottom: 0;
} */
.clbrty_nme_ttle{
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 800;
    position: relative;
}
.clbrty_nme_ttle::before{
    position: absolute;
    content: "";
    width: 42px;
    height: 1px;
    background: var(--white-color);
    left: -52px;
    top: 11px;

}
.sys_hdng span{
    font-weight: 800;
    font-size: 80px;
}
.clbrty_imgBox{
    margin-left: -50px;
    position: relative;
    z-index: 2;
}
.tstmnls_box{
    border-radius: 10px;
    background: rgba(255,255 ,255, 0.05);
    padding: 50px 50px 50px 20px;
    position: relative;
    z-index: 1;
    color: var(--white-color);
    border: 1px solid rgba(107, 221, 29, 0);
    overflow: hidden;
    box-shadow: 0px 33px 33.8px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}
.shpe1{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    filter: blur(15px);
}
.tstmnl_top_rtng ul{
    display: inline-flex;
    align-items: center;
    line-height: 0;
}
.tstmnl_top_rtng ul > li:not(:last-child){
    margin-right: 7px;
}
.tstmnl_top_rtng strong{
    font-weight: 400;
    display: inline-block;
    vertical-align: -2px;
    padding-left: 6px;
}
.tstmnl_sldr .swiper-slide.swiper-slide-active .shpe1{
    opacity: 0.2;
}
.tstmnl_sldr .swiper-slide.swiper-slide-active  .tstmnls_box{
    border: 1px solid rgba(107, 221, 29, 0.47);
    box-shadow: 0px 33px 33.8px rgba(0, 0, 0, 0.58);
}
.swper_arrw{
    opacity: 0.5;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 1px solid var(--white-color);
    position: static;
    visibility: visible;
    transform: none;
}
.swper_arrw::after{
    display: none;
}
.swpr_bttn_hldr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    position: absolute;
    left: -71px;
    right: -71px;
    top: 50%;
    transform: translateY(-50%);
}
.tstmnl_sldr{
    position: static;
}
.testmnl_wrppr{
    position: relative;
    padding-top: 30px;
}
.tstmnl_sldr .swiper-wrapper{
    padding-bottom: 60px;
}
.swper_arrw:hover{
    opacity: 1;
}
.tstmnl_top_rtng{
    margin-bottom: 10px;
}
.tstmnl_usr_box{
    display: flex;
    align-items: center;
}
.tstmnl_usr_img{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    overflow: hidden;
}
.tstmnl_usr_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.clnt_nme{
    padding-left: 16px;
    font-weight: 600;
    font-size: 16px;
}
.footr_outr{
    padding: 32px 0;
    background: var(--black-color);
}
.dsgnd_txt{
    text-align: right;
}
.footr_outr{
    color: var(--white-color);
    font-weight: 500;
}
.footr_outr p a{
    color: var(--white-color);
}
.footr_outr p a:hover{
    color: var(--green-color);
}
/* ========== responsive css =========== */
@media(min-width:1025px) {

    /* navbar*/
    .navbar-nav .clickD {
        display: none;
    }

    .navbar-nav li.menu-item-has-children:hover>.sub-menu {
        display: block;
    }
}
@media(min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1164px;
    }
}

@media(max-width: 1365px) {}

@media(max-width:1199px) {}

@media(max-width:1024px) {

    /* navbar*/
    .navbar-nav .clickD {
        position: absolute;
        right: 0;
        top: 17px;
        width: 20px;
        height: 20px;
        background: url(images/sort-down.svg) center center no-repeat;
        display: block;
        background-size: 10px;
        cursor: pointer;
    }

    .navbar-nav .clickD.toggled {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .sub-menu>li.menu-item-has-children .clickD {
        top: 8px;
        right: 5px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .sub-menu>li.menu-item-has-children .clickD.toggled {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .navbar-nav>li.menu-item-has-children {
        padding-right: 20px;
    }

    .sub-menu>li.menu-item-has-children>a {
        padding-right: 20px;
    }

    .sub-menu.show {
        display: block;
    }

    .navbar-nav>li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-nav>li.current-menu-item>a:after,
    .navbar-nav>li>a:after,
    .navbar-nav>li.menu-item-has-children>a:after {
        width: 100%;
        opacity: 0;
    }

    .navbar-nav>li.current-menu-item>a:after,
    .navbar-nav>li>a:hover:after,
    .navbar-nav>li.menu-item-has-children:hover>a:after {
        width: 100%;
        opacity: 1;
    }

    /* navbar end*/

}

@media (max-width: 991px) {

    /* navbar*/
    .navbar-toggler {
        position: relative;
        width: 33px;
        margin-left: auto;
        height: 28px;
        padding: 0;
        outline: none !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .stick,
    .stick:after,
    .stick:before {
        width: 30px;
        height: 2px;
        background: #000;
        position: absolute;
        left: 0;
        top: auto;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        border-radius: 5px;
    }

    .stick:before {
        content: '';
        top: -10px;
        left: 0;
    }

    .stick:after {
        content: '';
        top: 10px;
        left: 0;
    }

    .stick.open {
        -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        transform: translateX(-50px);
        background: transparent;
    }

    .stick.open:before {
        -webkit-transform: rotate(45deg) translate(42px, -28px);
        -ms-transform: rotate(45deg) translate(42px, -28px);
        transform: rotate(45deg) translate(42px, -28px);
        left: 2px;
    }

    .stick.open:after {
        -webkit-transform: rotate(-45deg) translate(42px, 28px);
        -ms-transform: rotate(-45deg) translate(42px, 28px);
        transform: rotate(-45deg) translate(42px, 28px);
        left: 2px;
    }

    .navbar-nav .clickD {
        top: 8px;
        right: 10px !important;
        -webkit-transform: rotate(0) !important;
        -ms-transform: rotate(0) !important;
        transform: rotate(0) !important;
    }

    .navbar-nav .clickD.toggled {
        -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
        transform: rotate(180deg) !important;
    }

    .sub-menu,
    .navbar-nav>li>.sub-menu .sub-menu {
        position: relative;
        width: 100%;
        left: inherit;
        top: inherit;
        border: none;
        right: inherit;
    }

    .navbar-nav>li.menu-item-has-children {
        padding-right: 0;
    }

    .navbar-nav>li {
        margin: 0;
        padding: 0;
    }

    .navbar-nav li.menu-item-has-children>a {
        padding-right: 30px !important;
    }

    .navbar-nav>li>a {
        padding: 8px 20px;
        display: inline-block;
        width: 100%;
    }

    .sub-menu>li>a {
        padding-left: 40px;
    }

    .sub-menu .sub-menu>li>a {
        padding-left: 60px;
    }

    .sub-menu .sub-menu .sub-menu>li>a {
        padding-left: 80px;
    }

    .navbar-nav>li>a:after {
        bottom: 0;
    }

    /* navbar end*/
    /* push nav */
    .navbar-collapse {
        background: #fff;
        position: fixed;
        top: 0;
        height: 100% !important;
        width: 290px;
        overflow-y: auto;
        -webkit-transition: inherit !important;
        -o-transition: inherit !important;
        transition: inherit !important;
        right: 0;
        margin: 0;
        display: block !important;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: transform 0.2s ease-in-out !important;
        -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
        transition: -webkit-transform 0.2s ease-in-out !important;
        -o-transition: transform 0.2s ease-in-out !important;
        transition: transform 0.2s ease-in-out !important;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out !important;
        z-index: 100;
    }

    .navbar-collapse.show,
    .navbar-collapse.collapsing {
        display: block !important;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: transform 0.2s ease-in-out !important;
        -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
        transition: -webkit-transform 0.2s ease-in-out !important;
        -o-transition: transform 0.2s ease-in-out !important;
        transition: transform 0.2s ease-in-out !important;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out !important;
    }

    .navbar-collapse .navbar-nav {
        margin: 80px 0 0 !important;
        padding: 0 0 40px 0;
    }

    .navbar-collapse .navbar-toggler {
        display: block;
        right: 20px;
        top: 20px;
        position: absolute;
    }

    #navoverlay.open {
        background-color: rgba(0, 0, 0, 0.4);
        pointer-events: all;
        -webkit-transition: background-color 0.5s linear;
        -o-transition: background-color 0.5s linear;
        transition: background-color 0.5s linear;
    }

    body.open-nav,
    html.open-nav {
        height: 100%;
        overflow: hidden !important;
    }

    /* push nav end */
}

@media (max-width: 767px) {

    /* images alignment for wordpress content pages */
    .alignright,
    .alignleft,
    .aligncenter {
        float: none;
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        clear: both;
        margin-bottom: 24px;
    }
}

@media (max-width: 575px) {}

@media (max-width: 479px) {}

@media(max-width: 374px) {}